.large-box {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 16px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 8px;
  height: 670px;
  width: 450px;
  flex-direction: column;
}
div {
  display: flex;
  flex: row;
}
