<mat-toolbar color="primary">
  <button mat-icon-button style="width: 50px; height: 50px;" (click)="onBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  VidyutSaathi - Administrative - Select Action
</mat-toolbar>
<div style="height: 100px;"></div>
<div>
  <span style="flex: 1 1 auto;"></span>
  <div class="mat-elevation-z4" style="flex-direction: column; width: 800px;">
    <p></p>
    <div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary" (click)="openInterruption()">POWER INTERRUPTION REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary" (click)="openWastage()">POWER WASTAGE REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    </div>
    <p></p>
    <div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary" (click)="openAnomaly()">USAGE ANOMALY REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary" (click)="openSubsidy()">SUBSIDIZED USER REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    </div>
    <p></p>
    <div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary">USAGE GROWTH REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="primary">POWER AVAILABILITY REPORT</button>
    <span style="flex: 1 1 auto;"></span>
    </div>
    <p></p>
  </div>
  <span style="flex: 1 1 auto;"></span>
</div>
